.insta_footer a{
    color: #003569;
    font: inherit;
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
  }  

  #nav{
    z-index: 999;
    height:12.5vh;
    box-shadow:none;
    border-bottom:1px solid rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    z-index: 18885;  